body  {
    background-image: url(/img/mord-Llord-fon.jpg);
   background-color: black;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   cursor: url(/img/cursor-mec.png), auto;
}   
a{
    cursor: url(/img/cursor-ojo.png), auto;
}
h1 {
    text-align: center;
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: arial;
    text-decoration: underline;
}

h3 {
    color: white;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    font-family: arial;
   
}
h4 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: arial;
    text-decoration: underline;
}
h5 {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: arial;
    text-decoration: underline;
}
#titulo {
    color: white;
}

p {
    font-family:arial;
    color: white;
    font-size: 20px;
}
.titulop{
    color: white;
    text-align: center;
    font-family: arial;
    font-size: 20px;
}
#Tit1 {
    color: red;
}
#Tit2 {
    color: red;
}
#Tit3 {
    color: red;
}
#Tit4 {
    color: red;
}
#Tit5 {
    color: red;
}
#posicion1 {
    color: red;
}
#posicion2 {
    color: red;
}
#posicion3 {
    color: red;
}
#posicion4 {
    color: red;
}
#posicion5 {
    color: red;
}
#posicion6 {
    color: red;
}
#detalles {
    color: white;
    font-size: 25px;
    font-family: arial;
}
#biom {
    color: white;
    font-family: arial;
    font-size: 25px;
}
#cosagr {
    font-family: arial;
    font-size: 20px;
    color: white;
}
#elements {
    font-family: arial;
    font-size: 15px;
    color: white;
}
#titulomod1 {
    font-family: arial;
    font-size: 27px;
    text-decoration: underline;
}
#elements2 {
    font-family: arial;
    color: white;
    font-size: 16px;
}
#subtit {
    font-family: arial;
    font-size: 20px;
    text-decoration: underline;
}
.desarrollador {
    font-family:arial;
    color: white;
    font-size: 20px;
    top: 20;
}
